a {
    background-color: rgb(150, 144, 187);
    color: black;
    width: 170px;
    height: 40px;
    display: block;
    /* text-indent: 2em; 现在我们用行内距调整*/
    padding-left: 30px;
    text-decoration: none;
    line-height: 40px;
}

a:hover {
    color: rgb(255, 255, 255);
    background-color: khaki;
}